.select-user > i {
  font-size: 2rem;
  margin-bottom: 8px;
  color: #1c357b;
}

.login-modal h1 {
  margin-top: 0;
}

.users {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.users > li {
  margin-right: 8px;
  list-style: none;
  height: 80px;
  width: 80px;
}

.users img {
  height: 80px;
  width: 80px;
  cursor: pointer;
  border-radius: 50%;
}

.user-profile > img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
