.container {
  display: flex;
}

.input-section {
  margin-right: 20px;
}

textarea {
  width: 40vw;
  height: 200px;
  margin-bottom: 4px;
  margin-left: 8px;
  height: calc(100vh - 160px);
  padding-inline: 8px;
}

.output-section {
  margin: 0 8px 0 0;
  padding: 4px 8px;
  width: 55vw;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: calc(100vh - 170px);
  max-height: calc(100vh - 170px);
  overflow-y: auto;
}

.error {
  font-size: 1rem;
  border-radius: 4px;
  background-color: rgba(240, 214, 214, 0.616);
  border: 1px solid #ccc;
  text-align: center;
  padding: 1rem;
  margin-bottom: 0.5rem;
  width: 55vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.error i {
  font-size: 1.5rem;
  color: orange;
  margin-right: 16px;
}

code,
textarea {
  font-size: 1rem;
}

.tree-container {
  max-height: 500px;
  overflow-y: auto;
}

.react-complex-tree-container {
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.react-complex-tree-node {
  padding: 8px;
  cursor: pointer;
}

.react-complex-tree-node .title {
  font-weight: bold;
}

.tree-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
  background-color: transparent;
  padding: 4px;
  cursor: pointer;
  width: 100%;
}

.tree-item:hover {
  background-color: #eee;
}

.tree-item-arrow {
  margin-right: 8px;
  font-size: 1rem;
  color: rgb(51, 75, 103);
}

.tree-item p {
  margin: 0;
}

.toolbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  cursor: pointer;
  box-sizing: border-box;
}

.toolbar-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toolbar-top > * {
  margin-bottom: 16px;
}
