.container {
  display: flex;
  width: 100%;
}

.input-section {
  margin-right: 16px;
  width: 100%;
}

.input-section textarea {
  color: #ffffff;
  background-color: #2d2d2d;
  width: 100%;
  height: 200px;
  border: 1px solid #707070;
  border-radius: 1px;
  margin-bottom: 4px;
  margin-left: 12px;
  height: calc(100vh - 160px);
  padding-inline: 16px;
}

.output-section {
  margin: 0 12px 0 0;
  padding: 4px 8px;
  width: 100%;
  max-width: 320px;
  border-width: thin;
  border-style: solid;
  border-color: #707070;
  border-radius: 1px;
  height: calc(100vh - 170px);
  max-height: calc(100vh - 170px);
  overflow-y: auto;
}

.error {
  background-color: rgb(212, 0, 0, 0.2);
  margin: 0 12px 0 0;
  padding: 4px 32px;
  width: 100%;
  max-width: 320px;
  border-width: thin;
  border-style: solid;
  border-color: #d40000;
  border-radius: 1px;
  height: calc(100vh - 170px);
  max-height: calc(100vh - 170px);
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.error i {
  font-size: 1.5rem;
  color: #d40000;
  margin-right: 16px;
}

code,
textarea {
  font-size: 0.75rem;
  line-height: 2rem;
}

.tree-container {
  max-height: 500px;
  overflow-y: auto;
}

.tree-item-container {
  list-style: none;
}

.tree-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
  background-color: transparent;
  padding: 4px;
  cursor: pointer;
  width: 100%;
  line-height: 1.5rem;
  border-width: thin 0 0 0;
  border-color: #dfdfdf;
  border-style: solid;
}

.tree-item:hover {
  background-color: #f6f6f6;
}

.tree-item-focused {
  font-weight: bold;
  background-color: #ffffff;
}

.tree-item-arrow {
  margin-right: 8px;
  font-size: 0.625rem;
  color: #000000;
}

.tree-item p {
  margin: 0 8px;
}
