html {
  background-color: #ffffff;
}

.App {
  font-family: sans-serif;
  text-align: left;
  margin: 1rem 1rem;
}

.App-header {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
}

.App-title {
  margin: auto auto;
  text-align: center;
  font-family: "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: italic;
  font-weight: 100;
  font-size: 2rem;
}

.App-lock {
  float: right;
  font-size: 1.5rem;
  cursor: pointer;
}

.App-lock.locked {
  color: #b2b2b2;
}

.App-lock.unlocked {
  color: #1380b1;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-end;
  width: 640px;
}

.navigation p {
  margin: 0;
  padding: 0;
  margin-right: 8px;
}

.navigation i {
  font-size: 1.5rem;
  margin-right: 1rem;
  margin-left: 1rem;
  cursor: pointer;
  color: #000000;
}

.navigation i:disabled {
  cursor: default;
  color: #b2b2b2;
}

.version-remark {
  font-size: 0.75rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-left: 16px;
  margin-right: 0px;
  max-height: 80px;
  overflow: auto;
}

.version-remark img {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  border-color: #dfdfdf;
  margin-right: 12px;
}

.version-remark span {
  font-size: 0.625rem;
  color: #1380b1;
}

.save textarea {
  width: 100%;
  height: 120px;
  margin: 0;
  padding: 8px;
  resize: none;
}

.save button {
  width: 120px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid #f06721;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 16px;
  margin-right: 16px;
}

.save i {
  font-size: 1.5rem;
  color: #f06721;
}

dialog {
  border: 1px solid #707070;
  outline: none;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 0px;
  max-width: 640px;
  cursor: default;
}
