html {
  background-color: #fffbf5;
}

.App {
  font-family: sans-serif;
  text-align: left;
}

.App-header {
  display: flex;
  gap: 1rem;
  margin-bottom: 8px;
}

.App-title {
  margin: auto auto;
  text-align: center;
  font-family: Cambria, Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: 100;
  font-size: 2rem;
}

.App-lock {
  float: right;
  font-size: 2rem;
  margin-top: 1rem;
  margin-right: 8px;
  cursor: pointer;
}
.App-lock {
}

.App-lock.locked {
  color: red; /* Example color for locked state */
}

.App-lock.unlocked {
  color: green; /* Example color for unlocked state */
}
